/*
$color:


#about {
      color : white;
      font-size: 22px;
      text-indent: 60;
      float: left;
      width: 850px;
}


.beta {
     font-size: 25px;
     color: black;
     font-weight: bold;
     background-color: lightblue;
}*/
/*-----------------------------------------------------------*/
/*
.myform {
     font-size: 22px;
     color: white;
     font-weight: normal;
}

#lista {
   color: white;
   font-size: 22px;

}

.forma {
  font-size: 22px;
  color: white;
  font-weight: normal;
}

.box input[type=text] {
  background-color: lightblue;
}

.box input[type=number] {
  background-color: lightblue;
}

.box input[list=countries] {
  background-color: lightblue;
}

.box textarea {
  background-color: lightblue;
}*/
/*-----------------------------------------------------------*/
/*
div::selection {
  color: black;
  background-color: yellow;
}

div ol li::selection {
  color: black;
  background-color: yellow;
}

span::selection {
  color: black;
  background-color: yellow;
}
*/
