h1 {
     color: blue;
     font-size: 50px;
     text-align:center;
     font-variant: small-caps;
   }

h3 {
     color : red;
     font-size: 30px;
     font-variant: small-caps;
}

table {
     border: 2px solid black;
     border-collapse: collapse;
}

th, td {
     border: 2px solid black;
     padding: 7px;
     text-align: center;
     background-color: lightblue;
}

th {
     background-color: orange;
}

.practice {
        background-color: green;
        font-weight: bold;
        color: white;
}

h2 {
  color: #3d5e35;

}
