
button {
     width: 200px
     height: 50px;
     font-size: 30px;
     background-color: #d6a336;
}

button:hover {
     background-color: green;
}

div::selection {
  color: black;
  background-color: yellow;
}

div ol li::selection {
  color: black;
  background-color: yellow;
}

span::selection {
  color: black;
  background-color: yellow;
}

 @media (min-width: 1000px) {
   body {
     background-image: url("fondo1.jpg");
     background-size: 1550px 1000px;
     padding-left: 3%;
     padding-right: 3%;
   }
 }

 @media (max-width: 999px) {
   body {
     background-image: url("fondo2.jpg");
     background-size: 2000px 1500px;
     padding-left: 5%;
     padding-right: 5%;
   }

   #about {
         color : white;
         font-size: 22px;
         text-indent: 60px;
         float: left;
         width: 800px;
  }
}

.schedule {
   width: 70%;
   text-align: center;
}
