
button {
     width: 200px
     height: 50px;
     font-size: 30px;
     background-color: #d6a336;
}

button:hover {
     background-color: green;
}

div::selection {
  color: black;
  background-color: yellow;
}

div ol li::selection {
  color: black;
  background-color: yellow;
}

span::selection {
  color: black;
  background-color: yellow;
}
