
#web {
     color: #d6a336;
     font-size: 70px;
     text-align:center;
     font-variant: small-caps;
     text-shadow: 5px 5px 5px black;
}


.alpha {
     color : red;
     font-size: 30px;
     font-variant: small-caps;

}

#photo {
     float: left;
     width: 550px;
     padding-left: 30px;
     margin-right: -180px;
}

#about {
      color : white;
      font-size: 22px;
      text-indent: 60;
      float: left;
      width: 850px;
}

table {
     border: 2px solid black;
     border-collapse: collapse;
}


th, td {
     border: 2px solid black;
     padding: 7px;
     text-align: center;
     background-color: white;
}


th {
     background-color: orange;
}


.practice {
        background-color: green;
        font-weight: bold;
        color: white;
}


.beta {
     font-size: 25px;
     color: black;
     font-weight: bold;
     background-color: lightblue;
}
